:root {
  overflow-y: scroll !important;
}

.header,
.footer {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: light-dark(#ccc, var(--mantine-color-gray-8));
  border: 3px solid light-dark(#eee, var(--mantine-color-gray-9));
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: light-dark(#ccc, var(--mantine-color-gray-8));
  border: 1px solid light-dark(#eee, var(--mantine-color-gray-9));
}

::-webkit-scrollbar-track {
  background: light-dark(#eee, #222);
}
