/* * {
  border: 1px solid blue;
} */
:root {
  min-width: 320px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  --app-shadow-size: 4px;
  --app-shadow-blur: 8px;
  --app-shadow-spread: 4px;
  --app-shadow-top: 0 calc(var(--app-shadow-size) * -1) var(--app-shadow-blur)
    calc(var(--app-shadow-spread) * -1);
  --app-shadow-bottom: 0 var(--app-shadow-size) var(--app-shadow-blur)
    calc(var(--app-shadow-spread) * -1);
  --app-shadow-right: var(--app-shadow-size) 0 var(--app-shadow-blur)
    calc(var(--app-shadow-spread) * -1);
  --app-shadow-left: calc(var(--app-shadow-size) * -1) 0 var(--app-shadow-blur)
    calc(var(--app-shadow-spread) * -1);
  --app-sub-border: 1px solid alpha(gray, 0.1);
  --app-shadow-color: alpha(black, 0.2);
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: light-dark(#ccc, var(--mantine-color-gray-8));
  border: 3px solid light-dark(#eee, var(--mantine-color-gray-9));
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: light-dark(#ccc, var(--mantine-color-gray-8));
  border: 1px solid light-dark(#eee, var(--mantine-color-gray-9));
}

::-webkit-scrollbar-track {
  background: light-dark(#eee, #222);
}

.active {
  transition: transform 50ms ease-in-out;

  &:active {
    transform: scale(0.97);
  }
}

.btn:hover {
  & > span {
    /* filter: drop-shadow(0 0 1px rgba(255 255 255 / 0.4)); */
    transform: scale(1.1);
  }
}

.focus {
  border: 5px solid red;
}

.header {
  min-width: 320px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-shadow: var(--app-shadow-bottom) var(--app-shadow-color);
}
.subheader {
  z-index: 1000;
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  border-bottom: var(--app-sub-border);
  /* box-shadow: var(--app-shadow-bottom) var(--app-shadow-color); */
}
.footer {
  min-width: 320px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-shadow: var(--app-shadow-top) var(--app-shadow-color);
}
.subfooter {
  /* z-index: 2048; */
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  z-index: 1000;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  border-top: var(--app-sub-border);
  /* box-shadow: var(--app-shadow-top) var(--app-shadow-color); */
}

.navbar {
  box-shadow: var(--app-shadow-right) var(--app-shadow-color);
}
.aside {
  box-shadow: var(--app-shadow-left) var(--app-shadow-color);
}

.navlink {
  text-decoration: none;
  color: unset;
}
