.drawer {
  background: red !important;
  border: 0px solid red;
}

.drawer > .mantine-Drawer-root {
  background: red !important;
  opacity: 1;
}

.avatar {
  cursor: pointer;

  /* opacity: 1; */
}
.avatar:hover {
  transform: scale(1.1);
}
